section.about {
  @include clearfix;

  .box {
    @include col('xs', 12);
    @include col('sm', 4);
    margin-bottom: 2em;
    padding-left: 4.5em;
  }

  h2.logo {
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: .2em;
    margin-top: 0;
    position: relative;
    text-transform: uppercase;

    &::before {
      content: "\25A0\25A0\25A0\25A0";
      display: inline-block;
      font-size: 11px;
      height: 1.5em;
      left: -2.8em;
      letter-spacing: 0em;
      line-height: 0.65em;
      position: absolute;
      text-align: center;
      top: 0.9em;
      transform: rotate(45deg);
      width: 1.5em;
      word-wrap: break-word;
    }

    span {
      display: none;
    }
    strong {
      display: block;
    }
  }

  .clearbutt {
    font-size: .9em;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    border-radius: 5px;
    img {
      vertical-align: middle;
      margin-right: .5em;
    }

    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    }
  }

  h3 {
    position: relative;
    .glyphicon {
      color: #fff;
      font-size: 1.2em;
      padding: .5em;
      position: absolute;
      background: $PaletteMid;
      border: .3em solid $PaletteAccent;
      border-radius: 100%;
      transform: translate(-120%,-30%);

      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
}
