@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400';

body {
  background: #fff;
  color: $PaletteDarkest;
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  
  &, 
  & * {
    box-sizing: border-box;
  }

  main {
    min-height: 100vh;
  }
}

section {
  clear: left;
  padding: 50px;
  position: relative;
}

a {
  color: $PaletteMidLight;
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: mix($PaletteMid,$PaletteMidLight);
  }
}

body main .cta {
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  font-size: 48px;
  font-weight: 100;
  margin: .5em 0 1.5em;
  @media(max-width: 767px) {
      font-size: 7vw;
  }
}

.hidden {
  height: 1px;
  left: -9000vw;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: -9000vh;
  width: 1px;
}