@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';
@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
  background: $PaletteDarkest url('../img/header.jpg') no-repeat center center;
  background-size: cover;
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  font-size: 11px;
  
  &, 
  & * {
    box-sizing: border-box;
  }

  main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
  }

  container {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
  }  
}

section {
  background: #fff;
  display: block;
  padding: 100px 20px;
  position: relative;
  &.notch {
    @include notch();
  }
}

.desc {
  color: #666;
  font-size: 1.2em;
  line-height: 1.5em;
}
