section.contact {
  background-color: $PaletteAccentLightest;
  padding: 100px 45px;

  a {
    font-weight: bold;
  }

  .contactcontent {
    display: block;
    margin: 0 auto;
    max-width: 80vw;
    width: 400px;
  }

  .contactsection {
    @include col('xs', 12);
    @include col('sm', 6);
  }
  .right-about {
    padding-top: 2em;
  }

  @media (min-width: 768px) {
    .left-about {
      text-align: right;
    }
    .right-about {
      border-left: 1px solid rgba(#000, .1);
      padding-top: 0;
    }
  }

  input[type="text"],
  input[type="email"],
  textarea {
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    display: block;
    margin: 0 0 2em;
    padding: 5px 10px;
    width: 100%;
  }

  textarea {
    min-height: 5em;
  }
}
