section.contact {
    font-size: 18px;

    .social a {
        margin-right: 3em;
        margin-bottom: 3em;

        @media (max-width: 479px) {
            float: left;
            &:nth-child(2n+1) {
                clear: left;
            }
        }
    }
}