@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}
@include sprites($spritesheet-sprites);

section.social {
  @include clearfix;
  background-color: $PaletteAccentLightest;
  background: linear-gradient(to bottom,
    darken($PaletteAccentLightest, 10%) 0%,
    darken($PaletteAccentLightest, 5%) 20%,
    $PaletteAccentLightest 100%);
  padding: 45px 0;

  .socialitem {
    @include col('xs', 12);
    @include col('sm', 2);
    display: block;
    font-size: 0;
    height: 160px;
    margin: 1em 0;

    > a, span {
      display: block;
      margin: 0 auto;
      opacity: .5;
      transform: scale(.6);
      transition: .3s opacity ease-in-out;

      &:hover {
        opacity: .7;
      }
    }

  }
}
