@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}
@include sprites($spritesheet-sprites);

section.social {
  @include clearfix;
  background-color: $PaletteAccentLightest;
  background: linear-gradient(to bottom,
    darken($PaletteAccentLightest, 10%) 0%,
    darken($PaletteAccentLightest, 5%) 20%,
    $PaletteAccentLightest 100%);
  padding: 45px 0;
  text-align: center;

  @media (min-width: 768px) {
    padding: 100px 0;
  }

  > container {
    max-width: 80vw;
  }

  .socialitem {
    @include col('xs', 4);
    @include col('sm', 2);
    display: inline-block;
    padding: 20px;

    button {
      background: transparent;
      border: none;
    }

    a, 
    .inactive {
      position: relative;

      span {
        backface-visibility: hidden;
        display: inline-block;
        filter: grayscale(100%);
        font-size: 0;
        opacity: .3;
        transition: .3s all ease-in-out;
      }

      .hover {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0,0,0,.3);
        display: inline-block;
        font-size: 12px;
        left: 50%;
        line-height: 1.5em;
        max-width: 80vw;
        opacity: 0;
        padding: 1em;
        pointer-events: none;
        position: absolute;
        text-align: center;
        top: 0;
        transform: translate(-50%, 0);
        transition: .3s all ease-in-out;
        width: 280px;
        z-index: 2;

        &::after {
          background-color: #fff;
          bottom: -.5em;
          content: "";
          height: 1em;
          left: 50%;
          position: absolute;
          transform: rotate(45deg);
          width: 1em;
        }
      }

      &:focus,
      &:hover {
        span {
          filter: none;
          opacity: 1;
        }
        .hover {
          opacity: 1;
          transform: translate(-50%, -80%);
        }
      }
    }
  }
}
