$PaletteWhite: #fff;
$PaletteBlack: #000;

$PaletteDarkest: #030412;
$PaletteDark: #111A1A;
$PaletteMid: #263444;
$PaletteLight: hsl(hue($PaletteMid), 100%, 80%);

$PaletteAccent: #e5d9ac;
$PaletteAccentLightest: #eee;
