section.work {
    background: #f2f2f2;
    padding: 15vh 50px;

    .cta {
        font-size: 32px;
        font-weight: 200;
        margin-bottom: 1em;
        @media(max-width: 767px) {
            font-size: 4.66vw;
        }
    }

    .filter {
        input {
            display: none;
        }

        input:checked + label {
            background-color: $PaletteLight;
            color: #fff;
        }

        label {
            border-radius: 4px;
            cursor: pointer;
            padding: .5em 1em;
            transition: .3s all ease-in-out;
        }
    }
}